<h1>Welcome to Sam's Tavern!</h1>
<h3>What your favorite burger?</h3>
<div class="js-messages">
  
</div>
<input type="text" class="js-new-message" />
<button type="button" class="js-add-new-message">Add new message dawg</button>

<script>
  App = {};
  App.cable = ActionCable.createConsumer();
  $(document).ready(function() {
    App.chat = App.cable.subscriptions.create("ChatChannel", {
      connected: function() {
        console.log("You are connected");
      },

      speak: function(message) {
        this.perform('speak', {
          message: message
        });
      },

      received: function(data) {
        $('.js-messages').append("<p>" + data['content'] + "</p>");
      }
    });

    $('.js-add-new-message').click(function() {
      var newMessage = $('.js-new-message').val();
      App.chat.speak(newMessage);
    });
  });
</script>